fastapi
uvicorn[standard]
python-dotenv
python-multipart

torch>=2.1.0
torchvision>=0.16.0
numpy
Pillow
opencv-python-headless

requests
tensorflow
tensorflow-hub
setuptools==81.0.0

moviepy
imageio
imageio-ffmpeg
gTTS
